@import "../../variables.scss";

.article-small {
  border: 1px solid #dadce0;
  border-radius: 8px;

  padding: 2rem;

  display: flex;

  max-width: 70rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 5rem;
  }

  display: flex;
  justify-content: space-between;

  &__name {
  }

  &__button {
    height: 2.5rem;

    &--btn {
      border: none;
      background-color: transparent;

      height: 2.5rem;

      font-size: 2.5rem;

      color: $color-button-4;

      transition: all 0.25s linear;

      &:hover {
        cursor: pointer;

        color: #802323;
      }
    }
  }
}
