@import '../../variables.scss';

.weather-small {
  &__header {
    font-weight: 700;
  }

  &__icon {
    img {
      // width: 10rem;
      // height: 10rem;
      filter: brightness(0.75);
    }
  }

  &__max {
    font-weight: 700;
  }

  &__min {
  }
}
