@import "../../variables.scss";

.weather-small {
  &__header {
    font-weight: 700;
  }

  &__icon {
    // max-width: 5rem;
    // max-height: 5rem;

    img {
      // max-width: 5rem;
      // max-height: 5rem;
      filter: brightness(0.75);

      @media only screen and (max-width: $bp-largest) {
        max-width: 4rem;
        max-height: 4rem;
      }
    }
  }

  &__max {
    font-weight: 700;
  }

  // &__min {
  // }
}
