@import '../../variables.scss';

.article {
  border: 1px solid #dadce0;
  border-radius: 8px;

  padding: 2rem;

  display: flex;

  max-width: 75rem;

  // min-height: 17rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 5rem;
  }

  &__content {
    // display: grid;
    // grid-template-columns: min-content min-content;

    // margin-right: 5rem;
    margin-right: auto;
    padding-right: 5rem;

    display: flex;
    flex-direction: column;

    width: 55.8rem;

    &--title {
      text-decoration: none;
      color: $color-grey-dark-4;

      &:hover {
        text-decoration: underline;
      }

      &--text {
        font-size: 1.75rem;
      }
    }

    &--source {
      font-size: 1.25rem;
      color: $color-grey-dark-2;

      display: flex;

      &--url {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      &--options {
        ion-icon {
          vertical-align: middle;
        }

        &--save {
          text-decoration: none;
          color: inherit;

          padding: 0.35rem 0.5rem;

          margin: 3px;

          transition: 0.25 linear;

          position: relative;

          &:hover {
            // color: $color-grey-dark-4;

            border: 1px solid $color-grey-light-3;
            border-radius: 50%;
            background-color: $color-grey-light-1;

            margin: 2px;

            .article__content--source--options--save--info {
              visibility: visible;
              opacity: 1;
            }
          }

          &--info {
            position: absolute;
            top: 3rem;
            left: -3rem;
            font-size: 1.25rem;
            background-color: $color-grey-dark-2;
            color: $color-white;
            border-radius: 3px;
            padding: 0.25rem 0.5rem;
            width: max-content;
            // display: none;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s linear;
          }
        }

        &--share {
          text-decoration: none;
          color: inherit;

          padding: 0.35rem 0.5rem;

          margin: 3px;

          transition: 0.25 linear;

          position: relative;

          &:hover {
            // color: $color-grey-dark-4;

            border: 1px solid $color-grey-light-3;
            border-radius: 50%;
            background-color: $color-grey-light-1;

            margin: 2px;

            .article__content--source--options--share--info {
              visibility: visible;
              opacity: 1;
            }
          }

          &--info {
            position: absolute;
            top: 3rem;
            left: -1rem;
            font-size: 1.25rem;
            background-color: $color-grey-dark-2;
            color: $color-white;
            border-radius: 3px;
            padding: 0.25rem 0.5rem;
            width: max-content;
            // display: none;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s linear;
          }
        }

        &--thumbs-up {
          text-decoration: none;
          color: inherit;

          padding: 0.35rem 0.5rem;

          margin: 3px;

          transition: 0.25 linear;

          position: relative;

          &:hover {
            // color: $color-grey-dark-4;

            border: 1px solid $color-grey-light-3;
            border-radius: 50%;
            background-color: $color-grey-light-1;

            margin: 2px;

            .article__content--source--options--thumbs-up--info {
              visibility: visible;
              opacity: 1;
            }
          }

          &--info {
            position: absolute;
            top: 3rem;
            left: -4.5rem;
            font-size: 1.25rem;
            background-color: $color-grey-dark-2;
            color: $color-white;
            border-radius: 3px;
            padding: 0.25rem 0.5rem;
            width: max-content;
            // display: none;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s linear;
          }
        }

        &--thumbs-down {
          text-decoration: none;
          color: inherit;

          padding: 0.35rem 0.5rem;

          margin: 3px;

          transition: 0.25 linear;

          position: relative;

          &:hover {
            // color: $color-grey-dark-4;

            border: 1px solid $color-grey-light-3;
            border-radius: 50%;
            background-color: $color-grey-light-1;

            margin: 2px;

            .article__content--source--options--thumbs-down--info {
              visibility: visible;
              opacity: 1;
            }
          }

          &--info {
            position: absolute;
            top: 3rem;
            left: -4.5rem;
            font-size: 1.25rem;
            background-color: $color-grey-dark-2;
            color: $color-white;
            border-radius: 3px;
            padding: 0.25rem 0.5rem;
            width: max-content;
            // display: none;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s linear;
          }
        }

        &--hide {
          text-decoration: none;
          color: inherit;

          padding: 0.35rem 0.5rem;

          margin: 3px;

          transition: 0.25 linear;

          position: relative;

          &:hover {
            // color: $color-grey-dark-4;

            border: 1px solid $color-grey-light-3;
            border-radius: 50%;
            background-color: $color-grey-light-1;

            margin: 2px;

            .article__content--source--options--hide--info {
              visibility: visible;
              opacity: 1;
            }
          }

          &--info {
            position: absolute;
            top: 3rem;
            left: -7rem;
            font-size: 1.25rem;
            background-color: $color-grey-dark-2;
            color: $color-white;
            border-radius: 3px;
            padding: 0.25rem 0.5rem;
            width: max-content;
            // display: none;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s linear;
          }
        }
      }
    }

    &--description {
      font-size: 1.5rem;

      margin: 1.5rem 0;

      position: relative;

      &--state {
        display: none;

        &:checked ~ .article__content--description--content {
          opacity: 1;
          font-size: inherit;
          max-height: 999em;
        }

        & ~ .article__content--description--toggle ion-icon {
          transform: rotate(0deg);
        }

        &:checked ~ .article__content--description--toggle ion-icon {
          transform: rotate(180deg);
        }
      }

      &--content {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: 0.25s ease;
      }

      &--toggle {
        height: 1.75rem;

        position: absolute;
        right: -15rem;
        bottom: -4rem;

        text-decoration: none;
        color: inherit;

        font-size: 2rem;
        font-weight: 500;

        cursor: pointer;

        transform-origin: center;

        line-height: 0;

        transition: 0.25s ease;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &--coverage {
      font-size: 1.5rem;
      color: $color-grey-dark-3;

      text-decoration: none;
      color: $color-primary;

      font-weight: 500;

      margin-top: auto;

      ion-icon {
        margin-right: 0.5rem;
        vertical-align: middle;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image-container {
    min-width: 10rem;
    min-height: 10rem;

    &--image {
      width: 10rem;
      height: 10rem;

      border-radius: 8px;

      // background-size: cover;
      // background-position: center;

      object-position: center;
      object-fit: cover;
    }
  }
}
