@import '../../variables.scss';

.article {
  border: 1px solid #dadce0;
  border-radius: 8px;

  padding: 2rem;

  display: flex;

  max-width: 75rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 5rem;
  }

  &__content {
    // display: grid;
    // grid-template-columns: min-content min-content;

    margin-right: 5rem;

    display: flex;
    flex-direction: column;

    &--title {
      text-decoration: none;
      color: $color-grey-dark-4;

      &:hover {
        text-decoration: underline;
      }

      &--text {
        font-size: 1.75rem;
      }
    }

    &--source {
      font-size: 1.25rem;
      color: $color-grey-dark-2;

      display: flex;

      &--url {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      &--date {
        ion-icon {
          vertical-align: middle;
        }

        &--save {
          text-decoration: none;
          color: inherit;

          &:hover {
            color: $color-grey-dark-4;
          }
        }

        &--share {
          text-decoration: none;
          color: inherit;

          margin-left: 0.5rem;

          &:hover {
            color: $color-grey-dark-4;
          }
        }
      }
    }

    &--description {
      font-size: 1.5rem;

      margin: 1.5rem 0;

      position: relative;

      &--state {
        display: none;

        &:checked ~ .article__content--description--content {
          opacity: 1;
          font-size: inherit;
          max-height: 999em;
        }

        & ~ .article__content--description--toggle ion-icon {
          transform: rotate(0deg);
        }

        &:checked ~ .article__content--description--toggle ion-icon {
          transform: rotate(180deg);
        }
      }

      &--content {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: 0.25s ease;
      }

      &--toggle {
        height: 1.75rem;

        position: absolute;
        right: -15rem;
        bottom: -4rem;

        text-decoration: none;
        color: inherit;

        font-size: 2rem;
        font-weight: 500;

        cursor: pointer;

        transform-origin: center;

        line-height: 0;

        transition: 0.25s ease;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &--coverage {
      font-size: 1.5rem;
      color: $color-grey-dark-3;

      text-decoration: none;
      color: $color-primary;

      font-weight: 500;

      margin-top: auto;

      ion-icon {
        margin-right: 0.5rem;
        vertical-align: middle;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image-container {
    &--image {
      width: 10rem;
      height: 10rem;

      border-radius: 8px;

      background-size: cover;
      background-position: center;
    }
  }
}
