@import "../../variables.scss";

.sidebar {
  &__selected {
    color: $color-primary;
    background-color: $color-primary-lighter;

    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;

    &--country {
      color: $color-secondary;
      background-color: $color-secondary-light;

      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem;
    }
  }
}
