@import "../../variables.scss";

.homepage {
  &__header {
    font-weight: 500;
    font-size: 2.5rem;
  }

  &__sub-header {
    font-weight: 400;

    margin-bottom: 3rem;

    color: $color-grey-dark-2;
  }
}
