@import '../../variables.scss';

.weather {
  position: fixed;

  z-index: 999;

  right: 0;

  #menuToggle-weather {
    display: block;
    position: absolute;
    top: 7.5px;
    right: 65px;

    // -webkit-user-select: none;
    // user-select: none;

    transition: all 0.25s linear;

    transform: scale(0.75);

    & > ion-icon,
    input {
      font-size: 4rem;
      position: absolute;

      top: -1rem;
      right: 0rem;
    }

    input {
      display: block;
      width: 4rem;
      height: 4rem;
      position: absolute;
      // top: -7px;
      // // right: -1px;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }
  }

  #menu-weather {
    position: absolute;
    margin: -10rem 0 0 0;
    margin-top: 23rem;
    right: -5rem;

    // background: #ededed;
    // list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(120%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menuToggle-weather input:checked ~ ion-icon {
    color: $color-primary-darker;
  }

  /*
    * And let's fade it in from the left
    */
  #menuToggle-weather input:checked ~ div {
    transform: scale(1);
    // transform: translateX(-100%);
    opacity: 1;
  }

  &__container {
    border: 2px solid $color-grey-light-3;
    border-radius: 8px;

    padding: 2rem;

    width: 40rem;

    hr {
      border-color: $color-grey-light-1;
      // opacity: 0.5;

      width: 100%;
    }

    &--header {
      padding-bottom: 1rem;

      color: $color-grey-dark-2;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 2rem;
        font-weight: 500;
      }

      ion-icon {
        font-size: 2.25rem;

        cursor: pointer;
      }

      button {
        border: none;
        background-color: transparent;
      }
    }

    &--content {
      margin: 2rem 0;

      &--today {
        margin-bottom: 3rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &--col {
          font-weight: 500;

          img {
            // width: 10rem;
            // height: 10rem;
            filter: brightness(0.75);
          }

          &--1 {
            font-size: 2rem;
          }

          &--2 {
            font-size: 3rem;
          }
        }
      }

      &--week {
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-align: center;
      }
    }

    &--footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 1.5rem;

      &--degrees {
        button {
          border: none;
          background-color: transparent;
          font-weight: 700;

          cursor: pointer;

          &:hover {
            color: $color-primary;
          }
        }

        &--selected {
          color: $color-primary;

          cursor: not-allowed;
          pointer-events: none;
        }
      }

      &--url {
        a {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
  }

  &__animation {
    @keyframes times {
      0% {
        transform: translateX(0);
      }
      15% {
        transform: translateX(2.5px);
      }
      30% {
        transform: translateX(-2.5px);
      }
      45% {
        transform: translateX(1.5px);
      }
      60% {
        transform: translateX(-1.5px);
      }
      75% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(0);
      }
    }

    &:hover {
      animation: times 1s cubic-bezier(0.36, 0.07, 0.57, 0.99);
    }
  }
}
