@import '../../variables.scss';

.form-input {
  color: $color-grey-dark-4;

  &__profile {
    display: flex;
    align-items: center;
  }

  &__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: $color-black;
    padding: 1.25rem 1.75rem;
    border: 2px solid $color-grey-light-3;
    width: 100%;
    background-color: $color-white;
    // border-top: 3px solid transparent;
    // border-bottom: 3px solid transparent;
    transition: all 0.3s;
    // border-radius: 4px;
    box-sizing: border-box;
    /* Pseudo element (a visible thing that isn't really in the DOM).
    Also needs -ms- */

    resize: none;

    &:focus:invalid {
      border-bottom: 2px solid $color-button-4;
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid $color-button-2;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-1;
    }

    &--profile {
      border: 1px solid $color-grey-light-3;
      border-radius: 8px;

      &:focus:invalid {
        border-bottom: 1px solid $color-button-4;
      }
      &:focus {
        outline: none;
        border-bottom: 1px solid $color-button-2;
      }

      &::-webkit-input-placeholder {
        color: $color-grey-dark-1;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;

    &--profile {
      font-weight: 400;
      font-size: 1.25rem;
      color: $color-grey-dark-2;

      width: 25rem;
      text-transform: uppercase;
    }
  }

  &__photo {
    margin-left: auto;
    // display: flex;
    // align-items: flex-end;

    // margin-bottom: 5rem;

    position: relative;

    &--container {
      display: flex;
      align-items: center;

      margin-bottom: 1rem;
    }

    &--image {
      width: 6rem;

      border-radius: 50%;
      // border: 1px solid $color-white;
    }

    &--text {
      display: none;
    }
  }
}

#form-input__photo--btn {
  color: $color-white;

  background-color: transparent;
  border: none;

  position: absolute;

  margin: 0;
  padding: 0;

  width: 6rem;
  height: 6rem;

  top: 0rem;
  left: 0rem;

  border-radius: 50%;
  background-color: rgba($color-black, 0.5);

  opacity: 0;

  ion-icon {
    font-size: 3rem;
  }

  // margin-left: 3rem;

  &:hover {
    opacity: 1;
  }
}
