@import "../../variables.scss";

.sidebar {
  position: fixed;

  z-index: 999;

  button,
  a {
    text-decoration: none;
    color: $color-grey-dark-4;

    transition: color 0.25s ease;

    border: none;

    background-color: $color-white;

    cursor: pointer;
  }

  button:hover,
  a:hover {
    color: $color-primary;
  }

  hr {
    margin: 1.5rem 2rem;
    opacity: 50%;
  }

  .menu-sidebar {
    display: block;
    position: absolute;
    top: 2.25rem;
    left: 3rem;

    // -webkit-user-select: none;
    // user-select: none;

    // transition: all 0.25s linear;

    // transform: scale(0.75);

    &:hover {
      color: $color-primary;
    }

    .sidebar-bool {
      display: block;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: -0.25rem;
      left: -0.5rem;

      z-index: 9999;

      cursor: pointer;

      // opacity: 0; /* hide this */
      // z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;

      // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      //   0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

      // color: $color-grey-dark-2;

      &--checked {
        ion-icon {
          color: $color-primary-darker;
        }
      }

      ion-icon {
        width: 100%;
        height: 100%;
      }

      &--checked {
        color: $color-primary;
      }
    }

    &__menu {
      position: absolute;
      width: 22.5rem;
      margin: 5rem 0 0 0;
      padding: 2rem 1rem 2rem 0;
      // padding-top: 15rem;
      left: -3rem;

      font-size: 1.5rem;

      // background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */

      transform-origin: 0% 0%;
      transform: translate(-100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

      background-color: $color-white;
      // background-color: red;

      &--checked {
        transform: scale(1);
        // transform: translateX(-100%);
        opacity: 1;
      }

      li {
        padding: 0.75rem 0;
        font-size: 1.5rem;
        font-weight: 400;

        padding-left: 3rem;

        p {
          display: inline;
        }

        ion-icon {
          vertical-align: middle;
          margin-right: 2.5rem;
          // font-size: 2.5;
          transform: scale(1.25);
        }
      }
    }
  }
}
