@import "../../variables.scss";

.profile-settings {
  &__header {
    font-weight: 500;
    font-size: 2.5rem;

    text-align: center;
  }

  &__sub-header {
    font-weight: 400;

    margin-bottom: 3rem;

    color: $color-grey-dark-2;

    text-align: center;
  }

  &__blocks {
    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 5rem;
    }

    & .profile-settings-block {
      border: 1px solid $color-grey-light-3;
      border-radius: 8px;

      padding: 2rem;

      display: flex;
      flex-direction: column;

      max-width: 70rem;
      // width: 70rem;
      // width: max-content;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      &__header {
        font-weight: 500;
      }

      &__sub-header {
        font-weight: 400;

        color: $color-grey-dark-2;

        font-size: 1.5rem;
      }

      &__content {
        margin-top: 3rem;

        &--btns {
          margin-top: 5rem;
          display: flex;
          justify-content: flex-end;

          height: 3.6rem;

          &--1,
          &--2 {
            color: $color-grey-dark-1;
            cursor: pointer;
            background-color: transparent;
            border: none;

            font-size: 1.35rem;
            font-weight: 700;
          }

          &--1 {
            margin-right: 3rem;

            transition: all 0.25s linear;

            &:hover {
              color: $color-primary;
            }
          }

          &--2 {
            background: $color-primary;

            // border: 1px solid #dadce0;
            border-radius: 4px;
            padding: 0.8rem 2.6rem;
            text-decoration: none;
            color: $color-white;

            transition: all 0.25s linear;

            &:hover {
              background: $color-primary-darker;
            }
          }
        }
      }
    }
  }
}
